/* Admin.css */

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../public/Admin.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .add-restaurant-form {
    width: 50%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-restaurant-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
  }
  
  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group input[type="email"],
  .form-group input[type="number"],
  .form-group input[type="password"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="tel"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="number"]:focus,
  .form-group input[type="password"]:focus {
    border-color: #007bff;
  }
  
  .error-message {
    margin-top: 10px;
    color: #ff0000;
    font-size: 14px;
  }
  
  .add-restaurant-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add-restaurant-button:hover {
    background-color: gold;
  }
  
  .order-history,
.payment-history {
  width: 50%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.order-history h2,
.payment-history h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Table styles */
.table-container {
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ccc;
  padding: 10px;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container tr:hover {
  background-color: #ddd;
}