.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url('../../../public/Confirmation.jpg');
    background-repeat: no-repeat;
    background-position: center;    
  }
  
  .card-2 {
    background-color:lightyellow;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 60%; /* Adjust the width as needed */
    color : brown
  }
  
  .order-details {
    margin-bottom: 40px;
  }
  
  .shipping-detail {
    margin-bottom: 40px;
  }
  
  .thank-you-note {
    text-align: center;
  }
  
  .thank-you-note h2 {
    font-size: 24px;
    margin-top: 20px;
  }

  .orderpage-menu{
    margin-left: 20px;
  }
  